jupyterlab==3.4.3
pandas==1.3.5
scipy==1.7.3
plotly==5.9.0
chart-studio==1.1.0
matplotlib==3.5.2
openpyxl==3.0.10
sysidentpy==0.2.0
torch==1.11.0
numpy==1.21.6
sktime==0.12.0
neuralprophet[live]==0.3.2